@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "IranSans";
    src: url("../Fonts/IRANSansMobile_Medium.ttf") format('truetype');
}

*{
    font-family: "IranSans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

body{
    font-family: "IranSans";
}

.Hero-Banner{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.Link{
    background-image: linear-gradient(
      to right,
      #47a6e6,
      #47a6e6 50%,
      #292929 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.Link:before{
    content: '';
    background: #47a6e6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
.Link:hover {
   background-position: 0;
}
  
.Link:hover::before{
    width: 100%;
}


/* Carousel Styles */
.carousel {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-inner {
    white-space: nowrap;
    transition: ease 1s;
  }
  
  .carousel-item {
    display: inline-block;
    width: 100%;
    height: 590px;
  }
  
  .carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 55px;
    width: 80px;
    top: calc(50% - 25px);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .carousel-control:hover{
    background-color: #545a6485;
    transition: all 0.3s ease-in-out;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  
  .carousel-indicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 9px;
    z-index: 2;
  }
  .carousel-indicator-item {
    width: 12px;
    height: 12px;
    border: none;
    background: #161616;
    opacity: 0.4;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
  }
  .active {
    opacity: 1;
  }
  



