@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "IranSans";
    src: url("../Fonts/IRANSansMobile_Medium.ttf") format('truetype');
}

*{
    font-family: "IranSans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

body{
    font-family: "IranSans";
}

.Hero-Banner{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}


.Link{
    background-image: linear-gradient(
      to right,
      #61addf,
      #61addf 50%,
      #292929 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.Link:before{
    content: '';
    background: #61addf;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
.Link:hover {
   background-position: 0;
}
  
.Link:hover::before{
    width: 100%;
}




.slideStyles {
    width: "100%";
    height: "100%";
    border-radius: "10px";
    background-size: "cover";
    background-position: "center";
};

.rightArrowStyles{
    position: "absolute";
    top: "50%";
    transform: "translate(0, -50%)";
    right: "32px";
    font-size: "45px";
    color: "#fff";
    background-color: rgb(223, 28, 28);
    z-index: 1;
    cursor: "pointer";
};

.leftArrowStyles{
    position: "absolute";
    top: "50%";
    transform: "translate(0, -50%)";
    left: "32px";
    font-size: "45px";
    color: "#fff";
    z-index: 1;
    cursor: "pointer";
};

.sliderStyles{
    position: "relative";
    height: "100%";
};

.dotsContainerStyles{
    display: "flex";
    justify-content: "center"
};

.dotStyle{
    margin: "0 3px";
    cursor: "pointer";
    font-size: "20px";
};

